[#if API_ERROR!=""#]
<div class="alert alert-danger">
 <b>ZONT API:</b> [#API_ERROR#]
</div>
[#endif API_ERROR#]
[#if NOT_CONFIGURED#]
<div class="alert alert-info">
 <#LANG_SETUP#>: API username / API password.
</div>
[#endif NOT_CONFIGURED#]
<div>
 [ <a href="#" onClick="$('#api_settings').toggle();return false;"><#LANG_SETUP#></a> ]
</div>
<div[#if !NOT_CONFIGURED#] style="display:none"[#endif#] id='api_settings'>
&nbsp;
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>
<div class="form-group">
 <label class="control-label" for="api_username">
 API username:
 (*)
 </label>
 <div class="controls"><input type="text" id="api_username" name="api_username" value="[#API_USERNAME#]" class="form-control" autocomplete="username"></div>
</div>
    <div class="form-group">
        <label class="control-label" for="api_password">
            API password:
            (*)
        </label>
        <div class="controls">
            <input type="password" id="api_password" name="api_password" value="" class="form-control" autocomplete="new-password"[#if API_PASSWORD_SET="1"#] placeholder="**********"[#endif#]>
            [#if API_PASSWORD_SET="1"#]<span class="help-block">Leave empty to keep the stored password</span>[#endif#]
        </div>
    </div>

    <div class="form-group">
        <label class="control-label" for="api_poll">
            API polling period (seconds):
            (*)
        </label>
        <div class="controls">
            <input type="number" min="[#MIN_POLL#]" step="1" id="api_poll" name="api_poll" value="[#API_POLL#]" class="form-control">
            <span class="help-block">Minimum [#MIN_POLL#] seconds, 60 is recommended</span>
        </div>
    </div>

<div class="form-actions">
<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
<input type="hidden" name="view_mode" value="update_settings">
<input type="hidden" name="mode" value="update">
</div>
</fieldset>
</form>
</div>
&nbsp;
 [#if DATA_SOURCE="zontdevices" || DATA_SOURCE=""#]
 [#if VIEW_MODE="search_zontdevices" || VIEW_MODE=""#]
  [#inc zontdevices_search_admin.html#]
 [#endif VIEW_MODE#]
 [#if VIEW_MODE="edit_zontdevices"#]
   [#if ID!=""#]
   [#if TITLE!=""#]<h4>[#TITLE#] ([#SERIAL_ID#])</h4>[#endif TITLE#]
<ul class="nav nav-tabs">
  <li[#if TAB=""#] class="active"[#endif#]>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab="><#LANG_GENERAL#></a>
  </li>
  <li[#if TAB="data"#] class="active"[#endif#]>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=data"><#LANG_DATA#></a>
  </li>
</ul>
&nbsp;<br/>
   [#endif ID#]
   [#if TAB=""#]
    [#inc zontdevices_edit_default.html#]
   [#endif TAB#]
   [#if TAB="data"#]
    [#inc zontdevices_edit_data.html#]
   [#endif TAB#]
 [#endif VIEW_MODE#]
 [#endif DATA_SOURCE#]
