<div>
 [ <a href="#" onClick="$('#api_settings').toggle();return false;"><#LANG_SETUP#></a> ]
</div>
<div style="display:none" id='api_settings'>
&nbsp;
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>
<div class="form-group">
 <label class="control-label"[#if ERR_API_USERNAME#] style="color:red;font-weight:bold"[#endif#]>
 API username:
 (*)
 </label>
 <div class="controls"><input type="text" name="api_username" value="[#API_USERNAME#]" class="input"></div>
</div>
    <div class="form-group">
        <label class="control-label"[#if ERR_API_PASSWORD#] style="color:red;font-weight:bold"[#endif#]>
            API password:
            (*)
        </label>
        <div class="controls"><input type="password" name="api_password" value="[#API_PASSWORD#]" class="input"></div>
    </div>

    <div class="form-group">
        <label class="control-label">
            API polling period (seconds):
            (*)
        </label>
        <div class="controls"><input type="text" name="api_poll" value="[#API_POLL#]" class="input"></div>
    </div>

<div class="form-actions">
<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
<input type="hidden" name="view_mode" value="update_settings">
<input type="hidden" name="mode" value="update">
</div>
</fieldset>
</form>
</div>
&nbsp;
 [#if DATA_SOURCE="zontdevices" || DATA_SOURCE=""#]
 [#if VIEW_MODE="search_zontdevices" || VIEW_MODE=""#]
  [#inc zontdevices_search_admin.html#]
 [#endif VIEW_MODE#]
 [#if VIEW_MODE="edit_zontdevices"#]
   [#if ID!=""#]
   [#if TITLE!=""#]<h4>[#TITLE#] ([#SERIAL_ID#])</h4>[#endif TITLE#]
<ul class="nav nav-tabs">
  <li[#if TAB=""#] class="active"[#endif#]>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab="><#LANG_GENERAL#></a>
  </li>
  <li[#if TAB="data"#] class="active"[#endif#]>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=data">&#060#LANG_DATA#&#062</a>
  </li>
</ul>
&nbsp;<br/>
   [#endif ID#]
   [#if TAB=""#]
    [#inc zontdevices_edit_default.html#]
   [#endif TAB#]
   [#if TAB="data"#]
    [#inc zontdevices_edit_data.html#]
   [#endif TAB#]
 [#endif VIEW_MODE#]
 [#if VIEW_MODE="view_zontdevices"#]
   [#if TAB=""#]
    [#inc zontdevices_view_default.html#]
   [#endif TAB#]
 [#endif VIEW_MODE#]
 [#endif DATA_SOURCE#]
 [#if DATA_SOURCE="zontcommands"#]
 [#if VIEW_MODE="search_zontcommands" || VIEW_MODE=""#]
  [#inc zontcommands_search_admin.html#]
 [#endif VIEW_MODE#]
 [#if VIEW_MODE="edit_zontcommands"#]
   [#inc zontcommands_edit.html#]
 [#endif VIEW_MODE#]
 [#if VIEW_MODE="view_zontcommands"#]
   [#inc zontcommands_view.html#]
 [#endif VIEW_MODE#]
 [#endif DATA_SOURCE#]
